<html lang="en">
<head>
    @if (ViewBag.Title == null)
    {
        <title>Alpi</title>    
    }
    else
    {
        <title>@ViewBag.Title | Alpi</title>
    }
    
    <link rel="stylesheet" href="/styles/bulma.css"/>
</head>
<body>
@RenderBody()
</body>
</html>